@import '../../common/style/mixin.scss';
.navbar_lm{
	margin:38px 0;
	@extend .clear;
	.content_logo{
		float: left;
	}
	.content_menu{
		float: right;
		display: flex;
		width: 474px;
		li{
			flex:1;
			padding:14px 0;
			text-align: right;
			&:hover{
				a{
					color:#3D444A !important;
				}
			}
			a{
				&.active{
					color:#3D444A !important;
				}
				color:#A2AFBB;
				.en{
					font-size:18px;
				}
				.cn{
					padding:10px 8px 0  0;
					font-size: 13px;
				}
			} 
		}
	}
}


