.footer{
	padding:50px 0;
	.content_lm{
		display: flex;
		justify-content: center;
		.left{
			margin-right:120px;
			.links{
				display: flex;
				li{
					padding:22px 60px 38px 0;
					flex:1;
					a{
						&:hover{
							img{
								transform: translateY(-5px);
							}
						}
						img{
							transition: all 0.4s;
						}
					}
				}
			}
			.info{
				color:#3D444A;
				font-size:13px;
			}
		}
		.right{
			display: flex;
			.ewm{
				margin-right:32px;
			}
		}
	}
}